/* disable default */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin-left: -9px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* ------- */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #00897B;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #00897B;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #00897B;
  cursor: pointer;
}

/* TRACKER */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #80CBC4;
  border-radius: 1.3px;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #367ebd;*/
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #80CBC4;
  border-radius: 1.3px;
  border: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: none;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  /*background: #80CBC4;*/
}
input[type=range]::-ms-fill-upper {
  background: #80CBC4;
  border: none;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  /*background: #367ebd;*/
}

