html, body, #content, #template, #access, #devices, #rules, #rule {
  height: 100%;
  padding-bottom: 10px;
}

body {
  overflow: hidden;
}

.red { 
  color: red;
  float: left;
}

#content {
  padding: 0;
  border: 1px solid #c0c0c0;
}

.sign-in {
  background: #f7f6f6;
  width: 550px;
  margin: 195px auto 0;
  padding-bottom: 100px;
  text-align: center;
  border-radius: 6px;
  zoom: .7;
}

.sign-in h2 {
  padding-top: 30px;
  color: #444;
}

.sign-in .user-image {
  margin: 20px 0 25px;
}

.sign-in form {
  width: 350px;
  margin: 0 auto;
}

.sign-in input {
  border-color: #C0C0C0;
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.sign-in img {
  border: 2px solid #C0C0C0;
  width: 200px;
}

.sign-in a.forgot-password {
  color: #cf0000;
  display: block;
  text-align: right;
  width: 100%;
  padding: 0 0 15px;
}

.nav .logo img {
  width: 40px;
  padding: 10px 0px;
  margin-right: 5px;
  float: left;
}

a.logo.navbar-brand {
  padding: 0px 15px;
  width: 350px;
  color: #FFF;
}
a:hover.logo.navbar-brand {
  color: #FFF;
}

a.logo.navbar-brand span {
  padding: 16px 0px 16px 80px;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: #000;
  float: left;
}

.nav .logo img.verizon-logo {
  width: 18px;
  position: relative;
  top: 5px;
}

.nav.container.navbar-fixed-top {
  background: #FFF;
  border-bottom: 2px solid #d6d6d6;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}

.form-control:focus {
  border-color: #b90a00 !important;
}

button.btn.btn-primary {
  background: #b90a00;
  border-color: #b90a00;
  margin-bottom: 15px;
}
 
.sign-in button.btn.btn-primary {
  font-size: 19px;
}

ul.nav.pull-right {
  background: #004E64;
  width: 150px;
  position: relative;
  right: -15px;
}

.pull-right img {
  width: 60px;
  float: right;
  z-index: 1;
  position: relative;
  right: 10px;
}

.pull-right .caret {
  display: none;
}

.pull-right li.dropdown {
  width: 260px;
  float: right;
  position: relative;
  top: -60px;
  height: 0;
}

#nav-dropdown {
  background: #004E64;
  padding: 19.5px 15px;
  color: #FFF;
  font-weight: bold;
  width: 150px;
  float: right;
}

.pull-right #nav-dropdown:hover {
  background: transparent;
}

.pull-right ul.dropdown-menu {
  background: #006E8E;
  border-radius: 0;
  position: absolute;
  top: 59px;
  right: 0px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0px 1px rgba(5, 59, 77, 0.5);
  border: none;
}

.pull-right .dropdown-menu a {
  padding: 7px 10px;
  color: #FFF;
  border: none;
  border-bottom: 1px solid #3B93AA;
  margin: 0;
}

.pull-right .dropdown-menu a:hover {
  background: #004E64;
}

.template {
  margin-top: 60px;
}

.navbar-fixed-side.navbar-fixed-side-left {
  width: 80px;
  height: 100%;
  background: #444;
  position: fixed;
  top: 0;
  text-align: center;
  padding-top: 60px;
}

.navbar-fixed-side-left .nav {
  margin-top: 30px;
  /* margin-bottom: 100%; */
}

.navbar-fixed-side-left img {
  width: 50px;
}

.navbar-fixed-side-left ul li a {
  color: #FFF;
  padding: 0px 15px;
}

.navbar-fixed-side-left li {
  margin-bottom: 20px;
  padding: 5px 0;
}

.navbar-fixed-side-left ul li a:hover {
  background: transparent;
}

.navbar-fixed-side-left li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.navbar-fixed-side-left .glyphicon-plus-sign {
  color: #FFF;
  font-size: 50px;
  position: fixed;
  z-index: 9999;
  margin-left: -25px;
}

.nav.devices {
  width: 200px;
  height: 100%;
  background: #F7F6F6;
  position: fixed;
  top: 0;
  padding-top: 60px;
  margin-left: 80px;
}

.nav.devices a {
  color: #000;
  font-size: 13px;
}

.filter-device-type .dropdown-menu {
  position: relative;
  box-shadow: 0 0;
  border: none;
  background: #EBEBEB;
  border-radius: 0;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #FFF;
}

.filter-device-type .dropdown {
  border-bottom: 1px solid #FFF;
  padding: 10px 0;
}

.filter.filter-device-type {
  background: #EBEBEB;
}

#filter-devices {
  padding-left: 10px;
  background: #EBEBEB;
  text-decoration: none!important;
}

#filter-devices .caret {
  float: right;
  position: relative;
  top: 9px;
  right: 5px;
  width: 10px;
  height: 10px;
  display: block;
  border-top: 8px dashed #444;
  border-top: 4px solid \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.devices .dropdown-menu li a:hover {
  background: #FFF;
}

.devices .dropdown-menu li a:hover {
  background: #EBEBEB;
  color: #121212;
}

.devices .dropdown-menu li a {
  margin-left: 10px;
  padding-right: 0;
}

#filter-devices .glyphicon-ok {
  float: right;
}

.nav.devices .glyphicon-ok {
  float: right;
  margin-right: 5px;
}

.filter-device-type .dropdown-menu li {
  margin: 10px 0;
}

.devices-list .menu-list {
  display: inline-block;
  padding: 0;
  width: 100%;
}

.devices-list li {
  padding: 7px 5px 7px 10px;
  list-style: none;
}

.devices-list li.hover {
  background: #EBEBEB;
}

.menu-list .glyphicon-triangle-right {
  float: right;
  width: 11px;
  top: 4px;
}

#element {
  height: 100%;
  width: 100%;
  background: #FFF;
  padding: 40px 40px 40px 320px;
}

#nav-devices, #device { overflow-y: auto; overflow-x: hidden; height: 100%; }
*::-webkit-scrollbar { width:5px; }
*::-webkit-scrollbar-track { background-color:#ddd; }
*::-webkit-scrollbar-thumb { background-color:#aaa; border-radius:10px; }

.no-select {
  font-weight: bold;
  color: #999;
  position: absolute;
  top: 50%;
  left: 55%;
}

#element .form-group {
  margin: 0;
  height: 35px;
  overflow: hidden;
  line-height: 12px;
}

#element .form-horizontal {
  padding: 6.5px 0;
}

.bulb-cell {
  width: 30px;
}

.device-header {
  margin-bottom: 40px;
}

#element .btn-details {
  background: #FFA91D;
  color: #89600F;
  text-decoration: none;
  border-radius: 10px;
  padding: 1px 12px 3px;
}

.btn-details:hover {
  color: #89600B;
}

table thead th {
  background: #CCC;
  box-shadow: -1px 0px 0px #DDD;
}

#element td {
  vertical-align: middle;
}

.txt-center { 
  text-align: center;
}

.modal-spec img {
  width: 80px;
}

.element-modal .row {
  padding: 0 6px;
  margin-bottom: 5px;
}

.row-wrapper {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}

.modal-spec .row-wrapper {
  background: #D6D6D6;
  padding: 15px 0;
}
.modal-desc .row-wrapper {
  background: #006E8E;
}
.modal-actions .row-wrapper {
  background: #008CB3;
}
.modal-foot .row-wrapper button {
  width: 100%;
  border-radius: 0;
}

.element-modal .modal-spec .form-group {
  margin-bottom: 0;
  height: 30px;
  overflow: hidden;
  line-height: 10px;
}

.modal-spec img {
  padding-top: 15px;
}

.modal-desc, .modal-actions {
  color: #FFF;
}

.desc-body {
  margin-left: 20px;
}

.actions-select .control-label {
  padding: 0;
}

.modal-actions select.actions {
  padding: 0;
  height: 26px;
  border: 1px solid #eee;
  border-radius: 0;
}

.actions-select {
  margin: 5px 0 10px 0;
}

.modal-foot .space-btn-l {
  padding: 0 5px 0 0;
}

.modal-foot .space-btn-r {
  padding: 0 0 0 5px;
}

.modal-actions textarea {
  border-radius: 0;
  border: none;
}

.modal-foot {
  margin-top: 50px;
}

.filters.row {
  margin-bottom: 20px;
}

select.filter-select {
  padding: 0;
  color: #666;
  height: 26px;
  border: 1px solid #ccc;
  font-size: 13px;
  letter-spacing: .3px;
  border-radius: 6px;
}

button.filter-submit {
  width: 100%;
  height: 26px;
  line-height: 0;
  background: #E6E6E6;
  border: 1px solid #E4E4E4;
  color: #666;
}

input[type="search"] {
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 100%;
  padding: 1px 10px;
}

input[type="search"]:focus {
  outline: none;
}

/* RULES */
#rules, #rule {
  width: 100%;
  background: #FFF;
  padding: 40px 40px 40px 120px;
}

#rule { overflow: auto; }

.rule-link {
  width: 50px;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.rules .glyphicon-menu-right {
  color: #008AAE;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

h2.rule-title {
  font-size: 24px;
}

.sub-label-rule span {
  font-size: 16px;
  color: #777;
  float: left;
  padding-left: 30px;
}

.vertical-co-title {
  margin-top: 31px;
  margin-bottom: 10.5px;
}

.rule-header-row .form-group {
  margin-bottom: 0px;
}

.rule .row {
  margin-bottom: 20px;
}

span.txt-btn {
  background: #26A69A;
  color: #00695C;
  font-style: italic;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  padding-top: 7px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 6px;
  left: 15px;
}

.filter-select.presence {
  margin-top: 9px;
  width: 100%;
  min-height: 26px;
}

.trigger-label {
  padding-left: 5px!important;
}

.filter-select.commands {
  margin: 12px 10px;
}

.vd-wrapper {
  background: #FAFAFA;
  width: 410px;
  margin: 10px 0;
  padding: 5px;
}

.vd-wrapper .inline {
  display: inline-block;
  margin-right: 10px;
}

.vd.inline {
  width: 300px;
}

.vd-img.inline {
  position: relative;
  top: 5px;
  padding: 10px;
  float: left;
}

.vd-arrow.inline {
  position: relative;
  top: 20px;
  padding: 0px;
  float: right;
}

.vd-arrow.inline span {
  font-size: 20px;
  color: #E0E0E0;
}

.vd.inline > div {
  height: 21px;
}
